#manga {
    background-color: aquamarine;
    border: double #000;
    border-width: thick;
    font-size: 90%;
    text-align: center;
}

.card{
    width: 95%;
    height: auto;
    background-color: #000;
    margin-top: 5%;
    margin-left: 30px;
    border-radius: 2rem;
    color: #fff;
    box-shadow: #000;
}

.Image {
    height: 100%;
    min-width: 56px;
    max-width: 56px;
}

body {
    background-color: #000;
}